/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.direction {
  display: flex;
  flex-direction: row;
}

 .blue-box {
  width: 20px;
  height: 20px;
  list-style-type: none;
  background-color: rgb(73, 141, 237);
  color: white;
  padding: 10px;
  margin: 0px 5px;
  text-align: center;
  font-weight: bold;
  font-size: large;
  border: solid rgb(36, 73, 125) 1px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.086);
 }
